<!-- signup.component.html -->
<div class="registration-container">
  <h2>Sign Up</h2>
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <label for="username">Username:</label>
    <input type="text" id="username" formControlName="username" />

    <label for="email">E-mail:</label>
    <input type="text" id="email" formControlName="email" />

    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" />

    <label for="name">Name:</label>
    <input type="name" id="name" formControlName="name" />

    <button type="submit" [disabled]="!registrationForm.valid">Register</button>
  </form>
</div>
  